@keyframes blink {
    0%, 20% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

.dot {
    display: inline;
    animation: blink 1.4s infinite;
    font-size: 2em;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}
