#header-section {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* or a large number so it stays on top of other content */
}

#terms-and-conditions-section p {
    font-size: xx-small;
}

#terms-and-conditions-section li {
    font-size: xx-small;
}

#privacy-policy-section p {
    font-size: xx-small;
}

#privacy-policy-section li {
    font-size: xx-small;
}

#app-version-number {
    font-size: xx-small;
    display: flex;
    flex-flow: row;
}
