#header-section {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* or a large number so it stays on top of other content */
}

#terms-and-conditions-section p {
    line-height: 1.5;
}

#terms-and-conditions-section li {
    line-height: 1.5;
}

#privacy-policy-section p {
    line-height: 1.5;
}

#privacy-policy-section li {
    line-height: 1.5;
}

#app-version-number {
    font-size: xx-small;
    display: flex;
    flex-flow: row;
}

#privacy-banner-heading {
    margin-top: 5px;
    margin-bottom: 10px;
}

#privacy-banner-message {
    font-size: small;
}

#privacy-banner-message a:hover {
    text-decoration: underline !important;
    color: #107FAA !important;
}